* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	overflow-x: hidden;
}

.container1 {
	background-image: url("images/desktop/hero.jpg");
	height: 38em;
	background-repeat: no-repeat;
	width: 100%;
}

.logo {
	position: absolute;
	top: 3.5em;
	right: 66.5em;
}

.container1 h1 {
	position: relative;
	top: 2.95em;
	left: 2.2em;
	border: 2px solid white;
	display: inline-block;
	padding: 20px 25px 20px 20px;
	color: white;
	font-size: 3.5rem;
	letter-spacing: 3px;
	line-height: 4.1rem;
	font-weight: lighter;
}

.container1 .atags {
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    position: relative;
    bottom: 13em;
    right: 2em;
    text-transform: initial;
}

.container1 a {
	font-family: "Alata", sans-serif;
	color: white;
	text-decoration: none;
	margin: 20px;
	cursor: pointer;
}

.mainbox {
 display: none;
}

.close {
	display: none;
}

.container1 .text {
	position: relative;
	top: 1em;
}

.container1 a:hover , .atags2 a:hover {
	color: rgb(228, 27, 214);
	transition: 0.3s linear;
}


.line {
	visibility: hidden;
}

.container2 {
	background-image: url("images/desktop/interactive.jpg");
	background-repeat: no-repeat;
	height: 32em;
	position: relative;
	top: 10em;
	left: 8em;
}

.container2 .text {
	background-color: white;
	height: 20em;
	width: 35em;
	position: relative;
	top: 13em;
	left: 35em;
}

.container2 h1 {
	font-size: 3em;
	font-weight: lighter;
	padding: 1.8em 1em 0 1.8em;
	line-height: 1.1;
}

.container2 p {
	font-family: "Alata", sans-serif;
	position: relative;
	top: 2em;
	left: 5.5em;
	line-height: 1.6;
}

.container3 .heading h1 {
	font-size: 2.8em;
	font-weight: lighter;
	position: relative;
	top: 8em;
	left: 2em;
}

.btn1 {
	font-family:"Alata", sans-serif;
	border: 1px black solid;
	background: none;
	padding: 10px 40px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	left: 80em;
	top: 23em;
	transition: 0.8s;
}

.btn1:hover {
	color: white;
}

.btn1::before {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 0%;
	background: black;
	z-index: -1;
	transition: 0.8s linear;
}

.btn1::before {
	top: 0;
}

.btn1:hover::before {
	width: 180%;
}

.grid-container {
	display: grid;
	grid-row: auto;
	grid-gap: 2rem;
	grid-template-columns: 0.4fr 0.4fr 0.2fr 0.2fr;
   	grid-template-rows: 30rem 40rem;
   	position: relative;
   	left: 5em;
   	top: 25em;
   	filter: drop-shadow(4px 4px 1px grey);
}

.grid-container h2 {
	font-size: 2.5em;
	position: relative;
	bottom: 2.7em;
	left: 10px;
	line-height: 1.4;
	font-weight: lighter;
	color: white;
}

.grid-container a:hover {
	filter: drop-shadow(7px 7px 3px grey);
}

a {
	text-decoration: none;
}

footer {
	background-color: black;
	position: relative;
	top: 25em;
	height: 15em;
}

footer .logo {
	position: relative;
	top: 4.5em;
	left: 4em;
}

footer .atags2 {
	display: flex;
	flex-flow: row;
	font-size: 1.3em;
	position: relative;
	top: 5em;
	left: 2em;
}

footer a {
	margin: 20px;
	font-weight: bolder;
	color: white;
}

.social-media {
	position: relative;
	left: 64em;
	bottom: 2em;
}

footer .social-media img {
	margin: 15px;
}

footer .social-media img:hover {
	cursor: pointer;
	fill: rgb(228, 27, 214);
	height: 25px;
}

footer h3 {
	color: grey;
	position: relative;
	left: 53em;
}

@media screen and (max-width: 480px) {

	body {
		overflow-x: hidden;
	}

	.container1 {
		background-image: url("images/mobile/hero.jpg");
		height: 50em;
		background-size: 30em;
		background-repeat: no-repeat;
		width: 100%;
		position: relative;
		bottom: 5em;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.logo {
		position: absolute;
		top: 9em;
		right: 15em;
	}

	.text {
		position: relative;
		top: 10em;
		right: 5em;
	}

	.container1 h1 {
		position: relative;
		top: 8em;
		left: 3.3em;
		border: 2px solid white;
		display: inline-block;
		padding: 20px -20px 20px 10px;
		color: white;
		font-size: 2rem;
		letter-spacing: 3px;
		line-height: 2.7rem;
		font-weight: lighter;
	}

	.container1 .atags {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background-color: #000000;
		bottom: 10em;
		right: 0;
		z-index: 2;
		height: 120vh;
		width: 0vw;
		text-transform: uppercase;
		overflow-x: hidden;
	}

	.mainbox {
		display: inline;
		font-size: 29px;
		cursor: pointer;
		color: white;
		visibility: visible;
		position: relative;
		left: 12.5em;
		bottom: 2em;
		z-index: 3;
	}

	.close {
		display: inline;
		font-size: 35px;
		position: relative;
		bottom: 14.3em;
		left: 4.3em;
	}

	.mainbox #text {
		position: relative;
		left: 10em;
	}

	.container2 {
		background-image: url("images/mobile/interactive.jpg");
		background-repeat: no-repeat;
		height: 32em;
		width: 100%;
		background-size: 23em;
		position: relative;
		top: 4em;
		left: 3em;
	}

	.container2 .text {
		background-color: white;
		height: 16em;
		width: 25em;
		position: relative;
		top: 18em;
		left: 0em;
	}

	.container2 h1 {
		text-align: center;
		font-size: 2.3em;
		font-weight: lighter;
		padding: 0em 1em 0em 0em;
		line-height: 1.2;
	}

	.container2 p {
		font-family: "Alata", sans-serif;
		text-align: center;
		font-size: 25px;
		position: relative;
		top: 2em;
		left: -0.5em;
		line-height: 1.3;
	}

	.container3 .heading h1 {
		font-size: 2.8em;
		font-weight: lighter;
		text-align: center;
		position: relative;
		top: 8em;
		left: 0em;
	}

	.grid-container {
		display: grid;
		grid-row: auto;
		grid-gap: 2rem;
		grid-template-columns: 0.5fr 0.2fr 0.1fr 0.1fr;
   		grid-template-rows: 30rem 40rem;
   		position: relative;
   		left: 1.5em;
   		overflow: wrap;
   		top: 25em;
	}

	.grid-container h2 {
		font-size: 2.0em;
		position: relative;
		bottom: 2.5em;
		left: 0px;
		word-wrap: nowrap;
		line-height: 1.1;
		font-weight: lighter;
		color: white;
	}

	.grid-container img { 
		height: 20em;
	}

	.grid-container .oneth, .onef {
		position: relative;
		right: 26.79em;
		top: 23em;
	}

	.grid-container .twoo, .twot {
		position: relative;
		top: 14em;
	}

	.grid-container .twoth, .twof {
		position: relative;
		right: 26.79em;
		top: 37em;
	}

	.btn1 {
		border: 1px black solid;
		background: none;
		padding: 10px 40px;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		left: 11em;
		top: 145em;
		transition: 0.8s;
	}

	footer {
		background-color: black;
		position: relative;
		top: 60em;
		height: 35em;
	}

	footer .logo {
		position: relative;
		top: 4em;
		left: 7.5em;
	}

	footer .atags2 {
		display: flex;
		flex-flow: column;
		font-size: 1.3em;
		text-align: center;
		position: relative;
		top: 4.6em;
		left: -1em;
	}

	footer a {
		margin: 10px;
		font-weight: bolder;
		color: white;
	}

	.social-media {
		position: relative;
		left: 5.5em;
		bottom: -8em;
	}

	footer h3 {
		color: grey;
		position: relative;
		left: 3em;
		top: 7em;
	}

}
